.cart-box{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-bottom: 10%;
}

.cart-box{
    height: 250px;
    padding: 20px;
}

.cart-box:hover{
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}

.cart-img{
    width : 150px;
    height: 200px;
}

.content{
    font-size: 20px;
    margin: auto;
    padding: 10px;
    padding: 30px;
    width: 500px;
}

.content .title{
    font-size: 25px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.content .price{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
}